{% extends 'base.html' %}
{% block title %} Básico {% endblock %}

{% block content %}

<div id='content'>
<header>
<h1>Flask (framework web)</h2>
<br>
<p>Flask é um pequeno framework web escrito em Python. É classificado como um microframework porque não requer ferramentas ou bibliotecas particulares, mantendo um núcleo simples, porém, extensível.</p>

<p>Possui suporte a extensões que podem adicionar recursos do aplicativo como se fossem implementados no próprio Flask. Existem extensões para mapeadores objeto-relacional...</p>
<a href='#'>Wikipedia</a>
</header>
</div>




{% endblock %}