

body {
background: #000000;  
background: -webkit-linear-gradient(to right, #434343, #000000);  
background: linear-gradient(to right, #434343, #000000);
height: 800px;
}

#content{
    width: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;

    
    
}

header{
    
    max-width: 85%;
    margin: auto;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
margin-bottom: 5px;
}

h1, p{
/* 	color: #e2e2e2; */
    text-align: left;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 200;
}

#form{
  max-width: 400px;
  margin: auto;
  padding: 20px;
}


            

.buttonsGroup2{
  display: flex;
  
  margin-bottom: 18px;
  margin-right: 5px;

  justify-content: space-around;
}

#content{
  display: flex;
  align-content: center;
}

.card {
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  
  height: 300px;
      -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-text{
    
}

footer{
    color: #f2f2f2;
    /*background-color: #434343;*/
    position: fixed;
    /* deixando o elemento na posição desejada */
    right: 0%;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    
}

#logo {
    font-family: 'Caveat', cursive;
}

.salvos-item {
    color: #fafafa;
    font-family:'poppins', Sans-Serif;
    font-size: 18px;
    margin-top: 20px;
    max-width: 85%;
    padding: 10%;
    border-radius: 12px;
    margin: auto;
    margin-bottom: 25px;
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.salvos h2 {
    color: #fafafa;
    
    margin-right: 52px;
    font-family:'poppins', Sans-Serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
}

.salvos {
    max-width: 500px;
    margin: auto;
}

.salvos header {
    margin-bottom: 20px;
}

.adv {
    margin-bottom: 45px;
}

#heart{
   color: #FF0000;
   margin-top: 4px;
   margin-left: 20px;
   padding: 0;
}

.buttonsGroup2{
  display: flex;
  
  margin-bottom: 12px;
  margin-right: 5px;

  justify-content: space-around;
}

#dev {
/*     background-image: url("https://www.nicepng.com/png/detail/4-42189_png-file-size-black-brush-stroke-png.png"); */
}

.buttonsGroup2 .btn, .buttonsGroup .btn {
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    font-size: 16px;
}

.buttonsGroup2{
  display: flex;
  
  margin-bottom: 18px;
  margin-right: 5px;

  justify-content: space-around;
}