{% extends 'base.html' %}

{% block title %} Motify {% endblock %}

{% block content %}
<div id='home'>
    
  

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Advice</h5>
    
    <p id="adv" class="card-text">{{conselho}}</p>
    <p class="card-title">{{key_id}}</p>
    
    
</div>
<div class='buttonsGroup2'>

<a href="{{ url_for('salvar', advice = conselho ) }}">
<button onclick="" id="texto" type="button" class="btn btn-dark btn-floating" data-mdb-ripple-color="dark">
  <i class="fas fa-heart"></i>
</button></a>
 
<button onclick="copy()" id="texto" type="button" class="btn btn-dark btn-floating" data-mdb-ripple-color="dark">
  <i class="fas fa-copy"></i>
</button>


<a href="https://api.whatsapp.com/send?text=http://127.0.0.1:8089/">
<button type="button" class="btn btn-dark btn-floating">
  <i class="fas fa-share-nodes"></i>
</button></a>

</div>
  </div>

{% endblock %}