{% extends 'base.html' %}

{% block title %} Motify {% endblock %}

{% block content %}
<div id='content'>
    
  

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Advice</h5>
    
    <p class="card-text">{{data}}</p>
    
</div>
<div class='buttonsGroup'>
  <!-- Facebook -->
<!-- <a style="color: #3b5998;" href="#!" role="button">
  <i class="fab fa-facebook-f fa-lg"></i>
</a>-->
<button type="button" class="btn btn-dark btn-floating" data-mdb-ripple-color="dark">

  <i class="fas fa-refresh"></i>

</button>
<button type="button" class="btn btn-dark btn-floating" data-mdb-ripple-color="dark">
  <i class="fas fa-copy"></i>
</button>
<button type="button" class="btn btn-dark btn-floating">
  <i class="fa fa-heart"></i>
</button>
<button type="button" class="btn btn-dark btn-floating">
  <i class="fas fa-share-nodes"></i>
</button>
</div>
  </div>

</div>
<div class="bg-image"></div>
{% endblock %}